<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nilay.tipme">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.WAKE_LOCK" />

    <permission
        android:name="nilay.tipme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nilay.tipme.permission.C2D_MESSAGE" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Pushy Permissions - Added in v1.0.0 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Pushy Permissions - Added in v1.0.1 (optional) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen">

        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".Tabs"
            android:label="@string/title_activity_tabs"
            android:windowSoftInputMode="adjustResize|adjustPan"

            />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".MerchantAccount"
            android:label="@string/title_activity_merchant_account" />
        <!-- Pushy Declarations -->


        <!-- Pushy Notification Receiver -->
        <!-- Incoming pushes will be redirected to the following BroadcastReceiver class -->
        <receiver android:name=".PushReceiver">
            <intent-filter>

                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal socket background service -->
        <service android:name="me.pushy.sdk.services.PushySocketService" />

        <!-- End Pushy Declarations -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".MakePayment"></activity>
    </application>

</manifest>